<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body bgcolor="#64ffda">

    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12">
                <div class="card white">
                    <div class="card-content z-depth-5 black-text">
                      <% if(typeof max !='undefined' ){ %>
                        <% if(secret.semester == 7){ %>
                        <p class="center-align"><b>Maximum Electives You Can Select: <%= max %> ( <%= max-1 %> Elective and 1 Global Elective )</b></p>
                        <% } else { %>
                        <p class="center-align"><b>Maximum Electives You Can Select: <%= max %></b></p>
                        <% } %>
                        <% } %>
                        <form action="/registered" method="post" enctype="multipart/form-data">
                          <% let slotOld = null %>
                          <% let slotNew = null %>
                            <% if(typeof links !='undefined' ){ %>
                              <% links.forEach(function(links){ %>
                                <% let disable="disabled='disabled'" %>
                                <% slotNew = links.slot.toUpperCase(); %>
                                <% if(slotNew != slotOld){ %>
                                  <% if(slotOld != null){ %>
                                    </ul>
                                    <% } %>
                                <ul class="collection">
                              <%  } %>

                              <% if(links.req){ %>
                                    <li class="collection-item tooltipped" data-position="right" data-delay="50" data-tooltip="<%= links.req %>">SLOT <%=links.slot.toUpperCase(); %> :
                                    <% } else { %>
                                      <li class="collection-item">SLOT <%=links.slot.toUpperCase(); %> :
                                        <% } %>
                                      <% if (links.count<=0 ){ %>
                                              <input name="<%= links.slot %>" type="radio" id="<%= links.scode+links.slot %>" value="<%= links.scode %>" <%=disable %> />
                                              <label for="<%= links.scode+links.slot %>"><%= links.scode.toUpperCase(); %> <%= links.sname %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Available Seats: <%= links.count %></label>
                                              <% } else { %>
                                                  <input name="<%= links.slot %>" type="radio" id="<%= links.scode+links.slot %>" value="<%= links.scode %>" />
                                                      <label for="<%= links.scode+links.slot %>">
                                                          <span class="black-text"><%= links.scode.toUpperCase(); %> <%= links.sname %></span>
                                                          <span class="blue-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Available Seats: <%= links.count %></span>
                                                        </label>
                                                        <% } %>
                                    </li>
                                    <% slotOld = slotNew %>


                                <% }) %>
                                </ul>
                                <% } %>
                                   <input type="hidden" name="name" value="<%= secret.name %>" />
                                   <input type="hidden" name="rollno" value="<%= secret.rollno.toUpperCase(); %>" />
                                   <input type="hidden" name="course" value="<%= secret.course %>" />
                                   <input type="hidden" name="semester" value="<%= secret.semester %>" />
                                   <!--<input type="hidden" name="cgpa" value="<%= secret.cgpa %>" />-->
                                   <div class="center-align">
                                    <button class="btn waves-effect waves-light" type="submit">Register
                                    </button>
                                  </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
      });
      </script>
      <% let curSlot = null %>
      <% if(typeof links !='undefined' ){ %>
        <% links.forEach(function(links){ %>
          <% if( curSlot != links.slot ){ %>
            <script>
            var allRadios = document.getElementsByName('<%= links.slot %>');
            var booRadio;
            var x = 0;
            for(x = 0; x < allRadios.length; x++){
              allRadios[x].onclick = function(){
                if(booRadio == this){
                  this.checked = false;
                  booRadio = null;
                }else{
                  booRadio = this;
                }
              };
            }
            </script>
            <% curSlot = links.slot %>
        <% } %>
        <% }) %>
        <% } %>
</body>

</html>
