<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="all" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body bgcolor="#64ffda">

    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12">
                <div class="card white">
                    <div class="card-content z-depth-5 black-text">
                      <font size = "5">
                        <ul class="collection">
                      <% if(typeof print_data !='undefined' ){ %>

                        <li class="collection-item">Name : <%=print_data[0].name %></li>
                        <li class="collection-item">Course : <%=print_data[0].course %></li>
                        <li class="collection-item">Semester : <%=print_data[0].semester %></li>
                        <li class="collection-item">Roll No : <%=print_data[0].rollno %></li>
                        <% print_data.forEach(function(print_data){ %>

                          <li class="collection-item">Slot <%=print_data.slot.toUpperCase(); %> :  <%=print_data.scode %> <%=print_data.sname %></li>


                          <% })
                             } %>
                             </ul>
                             </font><br />
                             <div class="center-align">
                              <a href="/" class="btn waves-effect waves-light">Home</a>
                              <button class="btn waves-effect waves-light" onclick="printData()">Print
                              </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script>Materialize.toast('Thank you for registering', 10000)</script>
    <script>
function printData() {
    window.print();
}
</script>
</body>

</html>
