<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body bgcolor="#64ffda">

    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12">
                <div class="card white">
                    <div class="card-content z-depth-5 black-text">
                        <form action="/registered" method="post" enctype="multipart/form-data">
                            <% if(typeof links !='undefined' ){
                              links.forEach(function(links){ %>
                                <% let disable="disabled='disabled'" %>
                                <ul class="collection">
                                    <li class="collection-item">SLOT <%=links.slot.toUpperCase(); %> :
                                      <% if (scgpa < links.cgpa || links.count<=0 ){ %>
                                              <input name="<%= links.slot %>" type="radio" id="<%= links.scode %>" value="<%= links.scode %>" <%=disable %> />
                                              <label for="<%= links.scode %>"><%= links.scode.toUpperCase(); %> <%= links.sname %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Available Seats: <%= links.count %></label>
                                              <% } else { %>
                                                  <input name="<%= links.slot %>" type="radio" id="<%= links.scode %>" value="<%= links.scode %>" />
                                                      <label for="<%= links.scode %>">
                                                          <span class="black-text"><%= links.scode.toUpperCase(); %> <%= links.sname %></span>
                                                          <span class="blue-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Available Seats: <%= links.count %></span>
                                                        </label>
                                                        <% } %>
                                    </li>
                                </ul>
                                <% })
                                   } %>
                                   <input type="hidden" name="name" value="<%= secret.name %>" />
                                   <input type="hidden" name="rollno" value="<%= secret.rollno %>" />
                                   <input type="hidden" name="course" value="<%= secret.course %>" />
                                   <input type="hidden" name="semester" value="<%= secret.semester %>" />
                                   <input type="hidden" name="cgpa" value="<%= secret.cgpa %>" />
                                   <div class="center-align">
                                    <button class="btn waves-effect waves-light" type="submit">Register
                                        <i class="material-icons right">send</i>
                                    </button>
                                  </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>
